[submodule "pack/themes/opt/vim-solarized8"]
	path = pack/themes/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/themes/vim-airline"]
	path = pack/themes/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/themes/opt/vim-airline-themes"]
	path = pack/themes/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/nav/start/ctrlp.vim"]
	path = pack/nav/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/git/start/vim-fugutive"]
	path = pack/git/start/vim-fugutive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/git/start/vim-gitgutter"]
	path = pack/git/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/ide/start/YouCompleteMe"]
	path = pack/ide/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
    ignore=dirty
[submodule "pack/nav/start/nerdtree"]
	path = pack/nav/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/ide/start/vim-surround"]
	path = pack/ide/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/ide/start/tagbar"]
	path = pack/ide/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "pack/ide/start/nerdcommenter"]
	path = pack/ide/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pack/ide/start/supertab"]
	path = pack/ide/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "pack/ide/start/ultisnips"]
	path = pack/ide/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "pack/ide/start/vim-snippets"]
	path = pack/ide/start/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "pack/go/start/vim-go"]
	path = pack/go/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "pack/ide/start/editorconfig-vim"]
	path = pack/ide/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/nav/start/vim-devicons"]
	path = pack/nav/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/typescript/start/typescript-vim"]
	path = pack/typescript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/nav/start/nerdtree-git-plugin"]
	path = pack/nav/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/git/start/vimagit"]
	path = pack/git/start/vimagit
	url = https://github.com/jreybert/vimagit.git
[submodule "pack/python/start/isort"]
	path = pack/python/start/isort
	url = https://github.com/fisadev/vim-isort.git
[submodule "pack/ide/start/vim-illuminate"]
	path = pack/ide/start/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "pack/c/start/vim-clang-format"]
	path = pack/c/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "pack/ide/start/angular-cli.vim"]
	path = pack/ide/start/angular-cli.vim
	url = https://github.com/bdauria/angular-cli.vim.git
[submodule "pack/ide/start/ale"]
	path = pack/ide/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/ide/vim-helm"]
	path = pack/ide/vim-helm
	url = https://github.com/towolf/vim-helm.git
[submodule "pack/ide/start/vim-helm"]
	path = pack/ide/start/vim-helm
	url = https://github.com/towolf/vim-helm.git
[submodule "pack/nav/start/vim-bbye"]
	path = pack/nav/start/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "pack/ide/start/asyncrun.vim"]
	path = pack/ide/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "pack/ide/start/mkdx"]
	path = pack/ide/start/mkdx
	url = https://github.com/SidOfc/mkdx.git
[submodule "pack/ide/start/vim-repeat"]
	path = pack/ide/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/ide/start/vim-unimpaired"]
	path = pack/ide/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
